<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @contact.number %>
</p>

<h2>Comments</h2>
<% @contact.comments.each do |comment| %>
  <p>
    <b><%= comment.commenter %> says...</b>
    "<%= comment.body %>"
  </p>
<% end %>


<h2>Add a comment:</h2>
<%= form_for([@contact, @contact.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
